{% extends 'base.html' %}

{% block title %}Marta's Portfolio{% endblock %}

{% block content %}

<div class="hero-econ" style="background-image: url('../static/images/econ-bkg.png')">
    <div class="econ-container row">
        <section class="econ-section col-12 col-md-4">
            <img src="../static/images/European_Commission.png" alt="European Commission logo" class="econ-img">
            <h3 class="econ-heading">Economic Analyst</h3>
            <ul class="econ-text">
                <li>Preparing, managing input and presenting various reports and papers within the DG and the
                    Commission.
                </li>
                <li>Preparation of presentations for the OECD ATFC meetings and Expert Group meetings with Member
                    States’ representatives.
                </li>
                <li>Implementing changes to the reports using VBA excel.</li>
            </ul>
        </section>
        <section class="econ-section col-12 col-md-4">
            <img src="../static/images/UBS-Logo.png" alt="UBS logo" class="econ-img">
            <h3 class="econ-heading">Trade and processing specialist</h3>
            <ul class="econ-text">
                <li>Preparing NOSTRO daily reports on reconciliation of syndicated loans whilst investigating
                    discrepancies between cash debits and cash credits.
                </li>
                <li>Preparing manuals and trainings for new joiners.</li>
                <li>Actively participating in automation processes – proposing new solutions for more effective work.
                </li>
            </ul>
        </section>
        <section class="econ-section col-12 col-md-4">
            <img src="../static/images/Credit-Suisse-Logo.png" alt="Credit Suisse logo" class="econ-img">
            <h3 class="econ-heading">Junior specialist in research clearance and chaperone</h3>
            <ul class="econ-text">
                <li>Reviewing Equity Research Reports and other market publications against reputational and regulatory
                    issues.
                </li>
                <li>Ensuring compliance with international sanctions requirements.</li>
                <li>Implementing trading and research restrictions in conjunction with Credit Suisse policies.</li>
                <li>Testing new IT solutions and applications.</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}