{% extends 'base.html' %}

{% block title %}Marta's Portfolio{% endblock %}

{% block content %}

<div class="hero" style="background-image: url('../static/images/hobby-bkg.png')">
    <div class="hobby-container">
        <div class="hobby-text ">As an AI image creator, I use Midjourney to generate mostly women's portraits. Those
            are
            not just simple portraits, but I try them to be unique in some way. I tend to add smoke and flowers to my
            portraits. When I generate an image that is aligned with my vision of how it should look like, I master it
            in Photoshop, adjusting colours, shapes and sometimes adding more elements to it. Some of the final pieces
            are displayed on my instagram account.
        </div>
        <div class="hobby-images">
            <section class="hobby-section ">
            <img src="../static/images/photo1.png" alt="AI generated portrait of a woman in flowers" class="hobby-img">
            </section>
            <section class="hobby-section ">
            <img src="../static/images/photo2.jpg" alt="AI generated portrait of a woman with head in cloud"
                 class="hobby-img">
            </section>
            <section class="hobby-section ">
            <img src="../static/images/photo3.png" alt="AI generated portrait of a woman" class="hobby-img">
            </section>
        </div>
    </div>
</div>
{% endblock %}